.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  border: white solid 1px;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  button {
    margin-top: auto;
    // background-color: black;
    // color: white;
    // &:hover {
    //   background-color: white;
    //   color: black;
    //   border: black solid 1px;
    // }
  }
}
